@tailwind base;
@tailwind components;
@tailwind utilities;
@reference "tailwindcss";
body {
    margin: 0;
}
.navbar-base {
    @apply flex justify-between items-center px-12 bg-gray-50;
    height: 100px;
}

.navbar-link {
    @apply hover:font-bold transition-all;
}